@import "tailwindcss";

:root {
  --grayLight: #171717;
  /* --grayLight: "#E7E7E7"; */
  --grayMedium: "#737373";
  --grayDark: "#454545";
  --darkMuda: "#1A1A1B";
  --darkTua: "#101011";
}

:root {
  --bg-primary: #ffffff;
  --foreground: #171717;
  --grayLight: "#E7E7E7";
  --grayMedium: "#737373";
  --grayDark: "#454545";
  --darkMuda: "#1A1A1B";
  --darkTua: "#101011";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
